* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* commant */
.color-green {
    color: #518a88!important;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto !important; 
    box-sizing: border-box;   
    
}

.one-six {
    width: 16,666%;
}

.clear-both {
    clear: both;
}
/* commant */

#main {

}

#header {
    background-color: #fff;
    height: 76px;
    width: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    border-bottom: #ccc 1px solid;
    
}

#header .wrapper-header {
    padding: 10px 22px;
    height: 76px;
    
}

.wrapper-header .left-inner {
    margin-top: 10px;   
    width: 33.333%;
    display: flex;
    float: left;
    cursor: pointer;
}

.wrapper-header .right-inner {
    display: flex;
    width: 66.666%;
    justify-content: flex-end;
    
       
}

.right-inner .menu {
    line-height: 60px;

}
.menu li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    
}

.menu > li > a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 15px;
}

.menu > li:hover > a {
    opacity: 0.6;
}

.menu .ti-angle-down {
    font-size: 12px;

}

.menu .ti-user {
    font-weight: 600;
}


.menu .sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    top: 56px;
    text-align: start;
    line-height: 2.6;
    
}

.menu .sub-menu a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding-left: 14px;
    

}

.menu li:hover .sub-menu {
    display: block;
    
}

.menu .sub-menu a:hover {
    opacity: 0.5;
}

#content {
    

}

.header-content .banner img {
    width: 100%;
    position: relative;
    height: auto;
    background-size: cover;

}

.listen-now-content {
    text-align: center;
    padding: 40px 35px 22px;
}

.listen-name h2 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 5px;
    padding: 0 0 25px;
    margin: 0 224px;
}

.nav-listen {
    justify-content: center;
    display: flex;
    margin: 0 219px;
}

.nav-listen .logo-item {
    padding: 5px 15px;
    filter: grayscale(100%);
}

.nav-listen .logo-item:hover {
    filter: none;
    opacity: 1;
}

.logo-item img {
    width: 80px;
    height: 80px;

}

.latest-releases {
    position: relative; 
    width: 100%;
    height: 625px;
    z-index: 0;   
}


.latest-releases .wrapper-latest > img {
    background-position: center;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: 625px;
}

.latest-content {
    padding: 75px 0;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    color: #fff;

}

.latest-content .latest-name {
    text-align: center;
    padding: 22px 22px;
}

.latest-name > h2 {
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 50px;
}

.latest-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    height: 292px;
    flex-direction: row;
    justify-content: center;
}

.latest-items {
    width: 20%;
    padding-left: 30px;

}

.latest-items .latest-img {
    width: 199px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: flex-start;
    background-color: #000;
    border-radius: 30px;
}

.latest-img > img {
    height: 199px;
    border-radius: 20px;
    display: flex;

}

.latest-items .latest-img:hover img {
    opacity: 0.6;
}

.latest-items .name-about {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 13px 0;
    
}

.name-about > h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 3px;
}

.name-about .sub-about {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 20px;

}

.latest-name .latest-button {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.latest-button a {
    border-radius: 25px;
    padding: 9px 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 250px;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: #306850;
    display: flex;
    height: 44.8px;
    line-height: 1.6;
    letter-spacing: 1px;
    transition-duration: 0.5s;
}

.latest-button a:hover {
    background: transparent;
    color: #306850;
    border: #306850 1px solid;
}

.merch {
    padding-top: 20px;
    width: 100%;
    height: 576px;
}

.merch .merch-wrapper {
    padding: 25px 0 !important;
    

}
.merch-wrapper .merch-content {
    padding: 22px;
    max-width: 100%;
}

.merch-content .merch-title {
    text-align: center;
}
.merch-title h3 {
    font-size: 26px;
    font-weight: 550;
    padding: 0 22px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.merch-menu {
    width: 100%;
    display: inline-block;
}

.merch-menu .merch-menu-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.merch-menu-items .merch-item {
    width: 25%;
    padding-left: 30px;
}

.merch-item .sub-item-merch {
    position: relative;
}

.sub-item-merch .merch-item-list {
    position: relative;
}

.merch-item-list > a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.merch-item-list a > img {
    border-radius: 20px;
    height: 315px;
    object-fit: cover;
    position: static;
    transition: 0.3s;
    width: 100%;
}

.merch-item-list .merch-item-title {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    position: relative;


}

.merch-item-title p {
    font-weight: 200;
    font-size: 16px;
    color: #000;
    letter-spacing: 0.5px;
}

.sub-item-merch .second-merch-item {
    position: absolute;
    top: 0;
}

.second-merch-item > img {
    opacity: 0;
    height: 315px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.merch-item .sub-item-merch:hover img {
    opacity: 0;
}
.merch-item .sub-item-merch:hover .second-merch-item img {
    opacity: 1;
    transition: 0.2s;
}

.merch-button {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.merch-button a {
    border-radius: 25px;
    padding: 9px 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 250px;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: #306850;
    display: flex;
    height: 44.8px;
    line-height: 1.6;
    letter-spacing: 1px;
    transition-duration: 0.5s;
}

.merch-button a:hover {
    background: transparent;
    color: #306850;
    border: #306850 1px solid;
}

.join-us {
    margin-top: 40px;
}

.join-us .join-us-sub {
    padding: 10px 0;
}

.join-us-sub .join-wrapper {
    padding: 22px;
    margin-top: 15px;
    text-align: center;
}
.join-wrapper .head-join-title {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;
}

.head-join-title h2 {
    margin-bottom: 17px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 200;
}

.sub-join-title {
    margin-bottom: 25px;
    margin-top: -50px;
    content: '';
    clear: both;

}

.sub-join-title p {
    font-size: 16px;
    letter-spacing: 0.6px;
    opacity: 0.6;
}

.contact-form {
    margin: 0 auto;
    max-width: 520px;
}

.error {
    color: #d02e2e;
    background-color: #fff6f6;
    border-color: #d02e2e;
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    font-size: 0.9em;
    text-align: left;
}

.email-form {
    background-color: #f1f6f9;
    color: #000;
    border-radius: 25px;
    padding: 10px;
    margin-top: 78px;
}

.email-form .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group input {
    background-color: #f1f6f9;
    height: 45px;
    border: none;
    max-width: 100%;
    padding: 8px 10px;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
}

.input-group .input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: 45px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: .8125em;
}
.input-group-btn #Subcribe {
    border-radius: 50px;
    padding: 9px 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: #306850;
    display: flex;
    line-height: 1.6;
    transition-duration: 0.5s;
    height: 45px;
    font-size: 13px;
    letter-spacing: 1px;

}

.input-group-btn #Subcribe:hover {
    background: transparent;
    color: #306850;
    border: #306850 1px solid;
}

input:focus {
    outline: none;
    outline-offset: 0;

}

.use-the-music {
    margin-top: 48px;
}

.use-the-music .sub-use {
    height: 448px;
    background-size: cover;
    background-position: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper-use {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-position: center;
}

.use-the-music-content {
    padding: 75px 0;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 448px;
}
.wrapper-music-content {
    padding: 22px;
    max-width: 100%;
}

.music-content-header {
    text-align: center;
}

.music-content-header h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 54px;
    letter-spacing: 1.5px;
}
.music-content-header p {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 50px;
    margin: 0 120px;

}

.wrapper-music-content .use-button {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.use-button a {
    border-radius: 25px;
    padding: 9px 25px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    max-width: 250px;
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: #306850;
    line-height: 1.6;
    z-index: 1;
}

.use-button a:hover {
    color: #306850;
    border: 1px #306850 solid;
    background-color: transparent;
    transition: 0.3s;
}

.social-platforms-content {
    padding: 40px 0 22px;
    opacity: 1 !important;
}

.social-platforms-content .social-title {
    max-width: 649px;
        margin: auto;
        padding: 0 15px;
        text-align: center;

}
.social-title > h2 {
    font-size: 19px;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.social-platforms-content .nav-social {
    display: flex;
    justify-content: center;
}

.nav-social .social-item {
    padding: 5px 15px;
    filter: grayscale(100%);

}

.nav-social img {
    height: 80px;
    width: 80px;

}

.nav-social .social-item:hover {
    filter: none;
}

#footer {
    background-color: #3d3d3d;
    position: relative;
    bottom: 0;
    height: auto;
    clear: both;
    overflow: hidden;
    display: block;
    width: 100%;
    z-index: 0;
    background-image: url(/lofi-records/assets/img/footer/background.png);
}

.wrapper-footer {
    /* background-repeat: no-repeat; */
    padding-top: 30px;
    padding-bottom: 0;
    z-index: 1;
    width: 100%;
}

.wrapper-footer .footer-content {
    padding: 10px 0 10px!important;
}
.sub-footer-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list {
    padding: 0 22px;
}

.footer-nav {
    width: 25%;
    float: left;
    padding-left: 30px;
}

.sub-footer {
    margin-bottom: 15px;
}

.sub-footer li {
    list-style-type: none;
}

.sub-footer a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    
}

.footer-item h3 {
    color: #fff;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.social-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
}

.footer-icon {
    display: block;
    padding: 0 10px 0 0;
}

.footer-icon img {
    max-width: 30px;
    filter: grayscale(100%);
}

.footer-item li:hover {
    opacity: 0.6;
}

.footer-icon img:hover {
    filter: none;
}



